<% @comments.each do |comment| %>
<div class="row">

<ul style="list-style:none; display:flex;">
  <li><%= comment.user.email %></li>

  <li style="margin-left:20px;max-width:300px;
    word-wrap:break-word;"><%= comment.content %></li>
</ul>
</div>

<% end %>
<%= render 'comments/form' %>
</div>
