
<div class="container">
  <% @comments.each do |comment| %>


  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <header class="text-left">
          <div class="comment-user"><i class="fa fa-user"></i><%= comment.user.email %></div>
        </header>
        <div class="comment-post">
          <div style="list-style:none;display:flex;max-width:100%;">

          <div style="max-width:30em;word-wrap:break-word;"><%= comment.content %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= render 'comments/form' %>
</div>
