<table>
  <% @post.in_groups_of(4, false).each do |group| %>
<div class="row">
<% group.each do |post| %>
<div class="col-md-3" h>
    <%= image_tag post.image.url, class: "image-responsive, img-thumbnail" %>
    <%= post.description %>
  </div>
  <% end %>
</div>
<% end %>
</table>
