<% @post.in_groups_of(4, false).each do |group| %>
<div class="row img-responsive">
  <% group.each do |post| %>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <%= (link_to image_tag(post.image.url, class:"img-responsive, img-thumbnail"), post, rel: "shadowbox") %>
  </div>
  <% end %>
</div>
<% end %>
