
<table>
  <% @posts.in_groups_of(4, false).each do |group| %>
<div class="row", style="margin: 1 0 1 0;">
<% group.each do |post| %>
<div class="col-md-3">

    <%= (link_to image_tag(post.image.url, size: "240x200"), post, class: "image-responsive, img-thumbnail", rel: "shadowbox") %>
    <%# post.description %>
  </div>
  <% end %>
</div>
<% end %>
</table>
