

<div>
  <% @post.each do |post| %>
  <%= image_tag post.image.url(:large), width: "90%", height: "85%" %><br>
  <%= post.description %>
  <% end %>

  <% @post.each do |post| %>

  <div class= "scroll" style= "float: right;">
    <%= link_to("Next Picture", post.next_post) if post.next_post%>
  </div>
  <div class= "previous scroll" style="float: left;">
    <%= link_to("Previous Picture", post.previous_post) if post.previous_post %>
  </div>
  <% end %>

</div>
